@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Account/Login.cshtml");
    }

    Page["Title"] = "Change Password";

    //Initialize variables
    bool isValid = true;
    bool isSuccess = false;
    var errorMessage = "";
    var currentPasswordError = "";
    var newPasswordError = "";
    var confirmPasswordError = "";
    
    //Form value
    var currentPassword = Request["currentPassword"];
    var newPassword = Request["newPassword"];
    var confirmPassword = Request["confirmPassword"];

    if (IsPost) {
        if (currentPassword.Length < _Fn.MIN_PASSWORD_LEN || currentPassword.Length > _Fn.MAX_PASSWORD_LEN) {
            currentPasswordError = "Invalid current password.";
            isValid = false;
        }
        if (newPassword.Length < _Fn.MIN_PASSWORD_LEN || newPassword.Length > _Fn.MAX_PASSWORD_LEN) {
            newPasswordError = "Invalid new password.";
            isValid = false;
        }
        
        if (confirmPassword != newPassword) {
            confirmPasswordError = "The password confirmation does not match the new password.";
            isValid = false;
        }

        if (isValid)
        {
            if (WebSecurity.ChangePassword(WebSecurity.CurrentUserName, currentPassword, newPassword)) 
            {
                isSuccess = true;
            }
            else
            {
                errorMessage = "An error occurred when attempting to change the password. Maybe your current password is incorrect.";
            }
        } 
        else 
        {
            errorMessage = "Password change failed. Please correct the errors and try again.";
        }
    }
}

    <h1 align="center">Change password</h1>
<p>
   Use the form below to change your password.<br/>
    Remember that password length is @_Fn.MIN_PASSWORD_LEN - @_Fn.MAX_PASSWORD_LEN characters.
</p>

<form method="post" action="" id="ChangePW" onsubmit="return SubmitForm();">
    <fieldset>
        <legend>Change Password Form</legend>
        @if (isSuccess)
        {
            <p class="message success">
                Your password has been updated!
            </p>
        }
        @if (!errorMessage.IsEmpty())
        {
            <p class="message error">
                @errorMessage
            </p>
        }
        <ol>
            <li class="current-password">
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="currentPassword" title="Current password" maxlength="100" onchange="this.value=RemoveTag(this.value);" @if(!currentPasswordError.IsEmpty()){<text>class="error-field"</text>} />
                @if (!currentPasswordError.IsEmpty()) {
                    <label for="currentPassword" class="validation-error">@currentPasswordError</label>
                }
            </li>
            <li class="new-password">
                <label for="newPassword">New Password:</label> 
                <input type="password" id="newPassword" name="newPassword" title="New password" maxlength="100" onchange="this.value=RemoveTag(this.value);" @if(!newPasswordError.IsEmpty()){<text>class="error-field"</text>} />
                @if (!newPasswordError.IsEmpty()) {
                    <label for="newPassword" class="validation-error">@newPasswordError</label>
                }
            </li>
            <li class="confirm-password">
                <label for="confirmPassword">Confirm Password:</label> 
                <input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" maxlength="100" onchange="this.value=RemoveTag(this.value);" @if(!confirmPasswordError.IsEmpty()){<text>class="error-field"</text>} />
                @if (!confirmPasswordError.IsEmpty()) {
                    <label for="confirmPassword" class="validation-error">@confirmPasswordError</label>
                }
            </li>
        </ol>
        <p class="form-actions">
            <input type="submit" value="Change Password" title="Change password" />
        </p>
    </fieldset>
</form>
<script type="text/javascript">
<!--
function RemoveTag(s)
{
    var a = s.replace("<", "");
    a = a.replace(">", "");
    a = RemoveSQL(a);
    return a;
}

function RemoveSQL(s)
{
    var a = s.replace(/#/g, '');
    a = a.replace(/&/g, '');
    a = a.replace(/%/g, '');
    a = a.replace(/ AND /g, '');
    a = a.replace(/ FROM /g, '');
    a = a.replace(/ WHERE /g, '');
    a = a.replace(/ OR /g, '');
    a = a.replace(/ UNION /g, '');
    a = a.replace(/SELECT /g, '');
    a = a.replace(/'/g, '');
    if (a.length < s. length)
    {
        alert("Invalid input data detected and filtered.");
    }
    return a;
}

function SubmitForm()
{
    var s = document.getElementById("currentPassword").value;
    s = RemoveSQL(s);
    document.getElementById("currentPassword").value = s;
    
    s = document.getElementById("newPassword").value;
    s = RemoveSQL(s);
    document.getElementById("newPassword").value = s;
    
    s = document.getElementById("confirmPassword").value;
    s = RemoveSQL(s);
    document.getElementById("confirmPassword").value = s;
    
    document.getElementById("ChangePW").submit();
}
//-->
</script>